h1:hover {
  color: rgb(235, 120, 120);
  border: solid;
  background-color: rgb(200, 241, 200);
}
a:link {
  color: rgb(179, 8, 142);
  text-decoration: none;
  font-size: 2rem;
}
a:active {
  color: aqua;
}
section article:first-child {
  color: dodgerblue;
}
section article:last-child {
  color: orangered;
}
section aside:nth-child(4) {
  color: rgb(255, 127, 144);
}

section article:nth-child(even) {
  color: rgb(231, 7, 7);
  font-weight: 800;
  font-size: 1.5rem;
}

section aside:first-of-type {
  color: orangered;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}
input:checked {
  accent-color: rgb(51, 255, 0);
}
