p::first-letter {
  font-size: 2rem;
  color: red;
}
p::first-line {
  color: dodgerblue;
}
p::selection {
  background-color: gray;
  color: #fff;
}

p::before {
  content: "🙂";
}
p::after {
  content: "👍";
}
