* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section,
article {
  border: 1px solid red;
  height: 150px;
  width: 150px;
  background-color: rgb(225, 223, 228);
  box-sizing: border-box;
}

section {
  margin: 50px;
  padding: 10px;
}
