@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 644px;
  width: 754px;
  background-image: url("../images/burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.price {
  height: 202px;
  width: 202px;
  background-color: #e82b2f;
  border-radius: 50%;
  position: relative;
  left: 16px;
  top: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 178px;
  width: 178px;
  position: relative;
  border: 2px dashed white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: #f2f2f2;
}
.price-text {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.dollar {
  font-size: 3rem;
}
.cents {
  font-size: 1rem;
}
