/* section {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border: solid;
  transform: translateX(200px) translateY(200px);
  transform: translate(200px, 200px);
  transform: skewX(-120deg);
  transform: skewY(120deg);
  transform: scaleX(2);
  transform: scaleY(2);
  transform: scale(2);
  transform: rotate(45deg);
} */
section {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border: solid;
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease;
}
section:hover {
  transform: rotateY(50deg);
  transform: rotateX(150deg);
  transform: translateX(200px) rotateX(150deg);
  transform: translateY(200px) rotateY(150deg);
  background-color: blue;
  border-radius: 100%;
}
