section {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border: solid;
  animation-name: colorChange;
  animation-duration: 5s;
  animation-timing-function: ease;
}

@keyframes colorChange {
  from {
    background-color: blue;
  }
  to {
    background-color: yellow;
  }
}
