@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
}

.navbar section {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex-basis: 10%;
}

.logo img {
  width: 53px;
}

.nav-section {
  flex-basis: 35%;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-item {
  height: 65px;
  min-width: 90px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  color: rgba(44, 43, 43, 0.925);
  font-size: 0.82rem;
  font-weight: 600;
  position: absolute;
  transition: all 0.2s;
  margin-top: 50%;
  height: 100%;
}
.nav-item::after {
  content: "";
  width: 100%;
  min-width: 50px;
  height: 4px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: all 0.2s;
  background-color: #000000;
  pointer-events: none;
}
.link-1::after {
  content: "";
  min-width: 960px;
  height: 468px;
  position: absolute;
  left: -50px;
  top: 40px;
  opacity: 0;
  transition: all 0.2s;
  background-color: #eeebeb;
  pointer-events: none;
}
.link-1:hover::after {
  opacity: 1;
}
.item-1:hover::after {
  background-color: #3fff69;
}

.item-2:hover::after {
  background-color: #ff3f6c;
}
.item-3:hover::after {
  background-color: #ff6c3f;
}
.item-4:hover::after {
  background-color: #3f7cff;
}
.item-5:hover::after {
  background-color: #ecff3f;
}
.item-6:hover::after {
  background-color: #3fc9ff;
}
.item-7:hover::after {
  background-color: #ffbc3f;
}

.nav-item:hover::after {
  background-color: 4px solid #3fff69;
  opacity: 1;
}

.nav-list sup {
  display: inline;
  font-size: 0.6rem;
  color: #ff3f6c;
  font-weight: bold;
  margin-left: 3px;
}
.nav-list .nav-item {
  margin: 0 18px;
}

/*Search section styles*/
.search-section {
  flex-basis: 45%;
  display: flex;
}

.search-section__container {
  border: 0.5px solid rgb(194, 207, 219, 0.8);
  width: 640px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-left: 80px;
}
.search__icon {
  color: rgb(124, 126, 128);
  font-size: 1rem;
  margin: 0 25px;
}
.search__input,
::placeholder {
  color: rgb(143, 143, 143);
  border: none;
  height: 20px;
  width: 100%;
  font-weight: 400;
  font-size: 0.8rem;
}
.search__input:hover,
.search__input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* profiles styles*/
.profile_container {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-evenly;
  gap: 30px;
}
.profile_container h5 {
  display: inline-block;
  font-size: 0.7rem;
  color: #3b3a3a;
  font-weight: 900;
}
.icon {
  font-size: 1rem;
  color: #818080;
}
.icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.shopping_bag {
  color: rgba(255, 0, 0, 0.753);
}
